.Header {
    text-align: center;
    font-family: "Anton SC", sans-serif;
    padding-top: 25px;
}

.Content {
    text-align: center;
    margin-bottom: 50px;
}

.Background {
    background-color: #fafafa;
}
