.Button {
  font-size: 0.8rem;
  align-self: center;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Green,
.GreenOutline:hover,
.Bright:hover {
  background-color: #4EAF41;
  color: #ffffff;
}

.BlackOutline,
.Black:hover {
  /* border: 1px solid #2142b2; */
  background-color: black;
  color: #ffffff;
}
