.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Select {
  color: #4EAF41;
}

.Select:hover {
  color: #4EAF41;
}

.SelectOutline:hover {
  color: lightgrey;
}